#single-player-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trivia-card{
    background-color: white;
    border-radius: 1rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    min-width: 30vw;
}

.answers-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 20vh;
}

.answers-card > ul {
    display: flex;
    flex-direction: column;
    width: 50%;
    list-style-type: none;
    justify-content: space-evenly;
    margin-right: auto;
}
.answers-card > ul > li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    font-size: 22px;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all ease-in-out 300ms;

    
    background: linear-gradient(to right, rgb(255, 0, 255) 40%, aqua 60%);
    background-size: 200% 100%;
    background-position:right bottom;
}

.answers-card > ul > li:hover {
    transform: translate(0.2rem,-0.2rem);
    cursor: pointer;
    background-position:left bottom;
}
.answers-card > ul > li > p {
    margin: 0;
}

.answers-card > img {
    aspect-ratio: 1;
    height: 20vh;
    border: solid 2px;
    border-radius: 1rem;
}

#next-button{
    margin-top: 1rem;
    font-size: 20px;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

#next-button:hover {
    transform: translate(0.1rem,0rem);
}