#single-player-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
#multi-player-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.trivia-card{
    background-color: white;
    border-radius: 1rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    min-width: 30vw;
}

.answers-card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 20vh;
}

.answers-card > ul {
    display: flex;
    flex-direction: column;
    width: 50%;
    list-style-type: none;
    justify-content: space-evenly;
    margin-right: auto;
}
.question{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    font-size: 22px;
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    transition: all ease-in-out 300ms;
    
    background: linear-gradient(to right, rgb(255, 255, 255) 33%, rgb(255, 0, 255) 33%,rgb(255, 0, 255) 66%, aqua 66%);
    background-size: 300% 100%;
    background-position:right bottom;
}
.question > p{
    color:black;
}

.question:not(.correct):not(.incorrect):hover {
    transform: translate(0.2rem,-0.2rem);
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 255, 255) 33%, rgb(255, 0, 255) 33%,rgb(255, 0, 255) 67%, aqua 67%);   
    background-size: 300% 100%;
    background-position:center bottom;
}
.question > p {
    margin: 0;
}

.answers-card > img {
    aspect-ratio: 1;
    height: 20vh;
    border: solid 2px;
    border-radius: 1rem;
}

#next-button{
    margin-top: 1rem;
    font-size: 20px;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

#next-button:hover {
    transform: translate(0.1rem,0rem);
}

.correct{
    background: linear-gradient(to right, rgb(0, 255, 0) 34%, rgb(255, 0, 255) 34%,rgb(255, 0, 255) 67%, aqua 67%);   
    background-size: 300% 100%;
    background-position:left bottom;
}
.incorrect{
    background: linear-gradient(to right, rgb(253, 0, 0) 34%, rgb(255, 0, 255) 34%,rgb(255, 0, 255) 67%, aqua 67%);   
    background-size: 300% 100%;
    background-position:left bottom;
}